services:
  db:
    image: postgres
    environment:
      - POSTGRES_PASSWORD=root
    volumes:
      - db_data:/var/lib/mysql

  pma:
    image: adminer
    ports:
      - "8080:80"

volumes:
  db_data: