services:
  db:
    image: mysql:8.4
    container_name: db
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=app_db
    volumes:
      - db_data:/var/lib/mysql

  pma:
    image: phpmyadmin
    container_name: pma
    ports:
      - "8080:80"
    environment:
      - PMA_HOST=db
      - PMA_PORT=3306

  app:
    image: shitty_app_with_db:1.0
    container_name: app
    ports:
      - "3000:3000"
    volumes:
      - ./src:/app/src
    environment:
      - DB_HOST=db
      - DB_USER=root
      - DB_PASSWORD=root
      - DB_NAME=app_db
      - DB_PORT=3306
      - PORT=3000
    depends_on:
      - db

volumes:
  db_data: